html{
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Sen", sans-serif;
}


h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

/* Hyperlink color */
a {
  color: $primary;
}

/* Badge */
.badge {
  font-weight: 500;
  color: $primary;
  border-color: $primary !important;
}

/* Button colors */
.btn-outline-primary {
  color: $primary;
  border-color: $primary;

  &:hover {
  border-color: $primary;
  background-color: $primary;
  }

}
