html{
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Sen", sans-serif;
}

.badge {
  font-weight: 500;
  color: $primary;
  border-color: $primary !important;
}

/* Hyperlink color */
a {
  color: $primary;
}

/* Button colors */
.btn-outline-primary {
  color: $primary;
  border-color: $primary;

  &:hover {
  border-color: $primary;
  background-color: $primary;
  }

}
